:root{
    --primaryColor: rgba(209, 204, 204, 0.4);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("img/bg.jpg");
}

                        /*CHOOSE BALLS*/

.firstPart {
    height: auto;
    border: 5px solid var(--primaryColor);
    border-radius: 10px;
}

.ticket {
    border: 5px solid var(--primaryColor);
    border-radius: 10px;
    transition: .2s;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chooseBalls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.counter {
    display: flex;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 5px solid var(--primaryColor);
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: var(--primaryColor);
}

.ball {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 8px 3px;
    background-size: cover;
}

.choosenNumbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
}

.number-holder {
    border: 2px solid var(--primaryColor);
    border-radius: 20px;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background: var(--primaryColor);
}

.chosen {
    border-radius: 50%;
    margin: 0 2px;
    background-size: cover;
    width: 40px;
    height: 40px;
    align-self: center;
}

                           /*DRAW BALLS*/
.board {
    height: auto;
    display: flex;
    background-color: transparent;
    border: 5px solid var(--primaryColor);
    border-radius: 10px;
    flex: 5;
    padding: 0;
}

.board-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 5px;
}

.board-part .ball-bet {
    flex: 1;
}

.board-part-big {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.board-part-big .big-ball {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px solid var(--primaryColor);
    border-radius: 10px;
    margin-top: 10px;
}

.board-part-big .big-ball .first-ball {
    width: 230px;
    height: 230px;
    transform: translateX(-100px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--primaryColor);
    border: 3px solid var(--primaryColor);
    background-size: cover;
}

.board-part-big .big-ball .five-balls {
    width: 110px;
    height: 360px;
    position: absolute;
    transform: translateX(50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-part-big .big-ball .five-balls .first-five {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    border: 3px solid var(--primaryColor);
}

.first,
.fifth {
    position: relative;
    right: 60px;
}

.second,
.fourth {
    position: relative;
    right: 10px;
}

.board-part-big .small-balls {
    flex: 1;
    display: flex;
}

.board-part-big .small-balls .board-part {
    flex: 1;
}

.ball-bet {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.ball-bet .ball-holder {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    border: 3px solid var(--primaryColor);
}

.ball-bet .value {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(196, 196, 196);
}

.first-ball .number {
    width: 150px;
    padding: 50px 0;
    font-size: 50px;
    text-align: center;
}

.number {
    width: 100%;
    height: 100%;
    transition: .3s;
    border-radius: 50%;
    border: 1px solid var(--primaryColor);
    animation-delay: .7s;
}

                           /*STATS*/

.roundsHolder {
    border: 5px solid var(--primaryColor);
    border-radius: 10px;
    color: var(--primaryColor);
    display: none;
}

.lastRoundBalls {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.lastRound {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

                       /*END OF GAME*/
.end-of-game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: .2s;
}


.end-of-game p {
    font-size: 130px;
    color: white;
    text-shadow: 10px 0px 10px black;
}

.end-of-game .close {
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

                 /*TICKET*/
.drawn-number {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--primaryColor);
}

.input-group {
    width: 100%;
}

.warning {
    font-size: 22px;
    display: none;
}

/* RESPONSIVE*/
@media (max-width: 768px) {

    /*   CHOOSE BALLS*/
    .counter {
        width: 150px;
        height: 150px;
        border: 3px solid var(--primaryColor);
        font-size: 80px;
    }

    .ball {
        width: 40px;
        height: 40px;
        margin: 10px 3px;
    }

    .number-holder {
        width: 80%;
        height: 50px;
        justify-content: center;
    }

    .input-group {
        width: 80%;
        margin: 0 auto 10px auto;
    }

    .end-of-game p {
        font-size: 16px;
        text-shadow: 2px 0px 2px black;
    }

    .end-of-game .close {
        font-size: 22px;
    }

    /*DRAW BALLS*/
    .board-part {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .board-part .ball-bet {
        flex: 1;
    }

    .ball-bet {
        padding: 0;
        margin: 15px 0 15px 0;
    }

    .ball-bet .ball-holder {
        height: 40px;
        width: 40px;
        border: 1px solid var(--primaryColor);
    }

    .ball-bet .value {
        font-size: 16px;
    }

    .board-part-big .big-ball .first-ball {
        width: 120px;
        height: 120px;
        transform: translateX(-40px);
    }

    .board-part-big .big-ball .five-balls .first-five {
        width: 40px;
        height: 40px;
        border: 1px solid var(--primaryColor);
    }

    .board-part-big .big-ball {
        border: 3px solid var(--primaryColor);
    }

    .first,
    .fifth {
        position: relative;
        right: 45px;
    }

    .second,
    .fourth {
        position: relative;
        right: 20px;
    }

    .third {
        position: relative;
        right: 10px;
    }
}





